.cart-button {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: var(--main-color);
	border: none;
	border-radius: 50%;
	width: 10vh;
	height: 10vh;
	margin: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

.cart-button img {
	width: 5vh;
	height: auto;
}

.cart-icon {
  display: inline-block;
  cursor: pointer;
}

.cart-icon i {
  font-size: 24px;
  color: var(--main-color);
  transition: background-color 0.3s ease;
}

.cart-icon:hover i {
  color: var(--secondary-color);
}

.form-modal {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: var(--white-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.form-modal.show {
  display: block;
}

.form-title {
  font-weight: bold;
  font-size: larger;
  color: var(--secondary-color);
}

.cart-item {
	display: flex;
	align-items: flex-start;
	margin-top: 10px;
}

.product-image-container {
	flex: 0 0 auto;
	margin-right: 10px;
}

.product-image {
	width: 100px;
	height: 100px;
}

.product-details {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.product-name {
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 10px;
}

.product-price {
	font-size: 18px;
	margin-left: 10px;
	color: #147149;
}

.item-separator {
	border: none;
	border-top: 1px var(--white-color);
	margin: 30px 0;
}

.cart-container {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}

.cart-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.total-price {
	font-size: 16px;
	font-weight: bold;
	margin-left: auto;
	margin-right: 10px;
}

.checkout-button {
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
}
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.product-image-container {
  flex: 0 0 auto;
  margin-right: 10px;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;

}

.product-details {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.product-price {
  font-size: 18px;
  margin-left: 10px;
  color: #147149;
}

.item-separator {
  border: none;
  border-top: 1px solid var(--main-color);
  margin: 10px 0;
}

.cart-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.total-price {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.checkout-button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-button:hover {
  background-color: var(--secondary-color);
}