.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	padding: 30px 0;
}

.form {
	border: 1px solid var(--primary-color);
	padding: 30px;
	width: 400px;
}

.form h2 {
	margin-top: 0;
	color: var(--main-color);
	font-size: 32px;
}

.form form {
	display: flex;
	flex-direction: column;
}

.form label {
	margin-top: 10px;
}

.form input {
	padding: 10px;
}

input::placeholder {
	color: var(--primary-color);
}

.form button {
	background-color: var(--secondary-color);
	color: #fff;
	border: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.form button:hover {
	background-color: var(--primary-color);
}

.form p {
	margin-top: 20px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}

.form a {
	color: var(--secondary-color);
	text-decoration: none;
}

.form a:hover {
	color: var(--primary-color);
	text-decoration: underline;
}

/* The message box is shown when the user clicks on the password field */
#password-message,
#username-message {
	display: none;
	color: #000;
	position: relative;
	padding: 20px;
	margin-top: 10px;
}

#password-message p,
#username-message p {
	padding: 10px 35px;
	font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	left: -35px;
	content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
	color: red;
}

.invalid:before {
	position: relative;
	left: -35px;
	content: "✖";
}

/* Form modol */
.form-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 200ms ease-in-out;
	border: var(--primary-color) 2px solid;
	border-radius: 10px;
	z-index: 10;
	background-color: #faf7f4;
	width: 900px;
	max-width: 80%;
	padding: 20px;
}

.form-modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.form-modal .form-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--primary-color) 1px groove;
}

.form-header .form-title {
	font-size: 2rem;
	font-weight: bold;
	color: var(--main-color);
}

.form-header .close-button:hover {
	background-color: var(--main-color);
	color: #faf7f4;
}

.form-body {
	padding: 10px 15px;
}

.accountType {
	font-size: 20px;
	font-weight: bold;
}

.radio-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
	border-bottom: var(--primary-color) 1px groove;
}

.radio-group label {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 16px;
}

/* Vendor account */
.form-body .inputData {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: right;
	font-size: 16px;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

.inputData input[type="text"],
.inputData input[type="password"],
.inputData input[type="file"],
.inputData input[type="number"],
.inputData textarea {
	border: none;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

button[type="submit"],
#submit-btn {
	background-color: var(--secondary-color);
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

.form-body .submit-button {
	text-align: end;
}

select {
	padding: 8px;
	font-size: 1rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
	margin-top: 8px;
}

option {
	font-size: 1rem;
}

.hover:hover {
	background-color: var(--primary-color);
}


@media only screen and (max-width: 768px){
	/* Add your CSS styles here */
	nav{
		flex-direction: column;
		align-items: center;
	}
	.form{
		margin: 10px;
	}
	.form p{
		flex-direction: column;
	}
  }